.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5rem;
  width: 100vw;
  z-index: 1000;
  background-color: #fcfcfc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 90%;
  height: 100%;
  /* padding: 0 3rem; */
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  height: 60%;
}

@media (max-width: 767px) {
  .container {
    justify-content: space-between;
  }

  .logo {
    height: 50%;
  }
}
