.Banner {
  width: 100%;
  position: relative;
  padding: 5rem 0;
}
.circle1 {
  position: absolute;
  top: calc(-80%);
  left: calc(60%);
  border-radius: 50%;
  width: 100rem;
  height: 100rem;
  background-color: var(--primary);
  z-index: -1;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerImage {
  z-index: 100;
  width: 50rem;
  transform: translateX(5rem);
}

.text h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--secondary);
}

.text p {
  font-size: 1.2rem;
  color: var(--primary);
}
