.Banner {
  width: 100%;
  position: relative;
  padding: 10rem 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerImage {
  z-index: 1;
  width: 50rem;
  transform: translateX(5rem);
}

.text h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--secondary);
}

.text p {
  font-size: 1.2rem;
  color: var(--primary);
}
